.body {
    margin-bottom: 3rem;
    &-heading {
        text-align: center;
        padding: 1rem 0 1rem;

        h1 {
            font-size: 3.125rem;
            margin: 0 auto;
            width: 60%;
            font-weight: 700;
            line-height: 1.1875;
            letter-spacing: -.8px;
        }

        p {
            display: inline-block;
            padding: 2rem 0 0;
            font-weight: 500;
            line-height: 1.44444444;
            letter-spacing: normal;
            font-size: 1.1rem;
            color: #1264a3;
            cursor: pointer;
        }

        span {
            padding: 0 0 0 .5rem;
        }
        .arrow {
            transform: scale(1.1, 1.1) translateY(4px);
            color: #1264a3;
            font-weight: 100;
            font-size: 20px;
        }

        .stories {
            margin: 0 auto;
            display: inline-block;
            backface-visibility: hidden;
            position: relative;

            &::after {
                content: " ";
                position: absolute;
                left: 0;
                top: 57px;
                width: 1%;
                border-bottom: .13rem solid #1264a3;
                transition: all .3s ease-in-out;
                visibility: hidden;
            }
            
            &:hover {

                &::after {
                    width: 100%;
                    visibility: visible;
                }
            }
        }


    }

    .customer {
        padding: 0 7% 4rem;
        margin: 4rem 0  0;
        
        h2 {
            font-weight: 300;
            line-height: 1.35714286;
            letter-spacing: -.3px;
            font-size: 1.8rem;
            font-style: italic;
            margin-bottom: 1.5rem;
            width: 80%;
        }

        h4 {
            font-weight: 700;
            padding-bottom: .5rem;
            font-size: 1.2rem;
        }

        p {
            font-weight: 400;
            font-size: 1.2rem; 
        }
    }

    .flex-brands {
        flex-wrap: wrap;
        padding: 0 10%;
        justify-content: center;



        img {
            width: auto;
            height: 2.3rem;
            margin: 1rem 4rem 0 0;
        }
    }
    
}