.body {
    margin-bottom: 3rem;
    &-heading {
        text-align: center;
        padding: 1rem 0 1rem;

        h1 {
            font-size: 3.125rem;
            margin: 0 auto;
            width: 60%;
            font-weight: 700;
            line-height: 1.1875;
            letter-spacing: -.8px;
        }
 
        p {
            display: inline-block;
            padding: 2rem 0 0;
            font-weight: 500;
            line-height: 1.44444444;
            letter-spacing: normal;
            font-size: 1.1rem;
            color: #1264a3;
            cursor: pointer;
        }

        span {
            padding: 0 0 0 .5rem;
        }
        .arrow {
            transform: scale(1.1, 1.1) translateY(4px);
            color: #1264a3;
            font-weight: 100;
            font-size: 20px;
        }

        .stories {
            margin: 0 auto;
            display: inline-block;
            backface-visibility: hidden;
            position: relative;

            &::after {
                content: " ";
                position: absolute;
                left: 0;
                top: 57px;
                width: 1%;
                border-bottom: .13rem solid #1264a3;
                transition: all .3s ease-in-out;
                visibility: hidden;
            }
            
            &:hover {

                &::after {
                    width: 100%;
                    visibility: visible;
                }
            }
        }


    }

    .customer {
        padding: 0 7% 4rem;
        margin: 4rem 0  0;
        
        h2 {
            font-weight: 300;
            line-height: 1.35714286;
            letter-spacing: -.3px;
            font-size: 1.8rem;
            font-style: italic;
            margin-bottom: 1.5rem;
            width: 80%;
        }

        h4 {
            font-weight: 700;
            padding-bottom: .5rem;
            font-size: 1.2rem;
        }

        p {
            font-weight: 400;
            font-size: 1.2rem; 
        }
    }

    .flex-brands {
        flex-wrap: wrap;
        padding: 0 10%;
        justify-content: center;



        img {
            width: auto;
            height: 2.3rem;
            margin: 1rem 4rem 0 0;
        }
    }

    .better-work {
        background-color: #4a154b;
        text-align: center;
        padding: 7rem 5rem;
        margin: 4rem 0 0;
        
        h1 {
            font-weight: 700;
            line-height: 1.1875;
            letter-spacing: -.8px;
            font-size: 3.2rem;
            margin-top: 0;
            color: #ffffff;
            padding: 0 0 2rem;
        }

        button {
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            font-weight: 700;
            line-height: 1.28571429;
            letter-spacing: .8px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 19px 40px 20px;
            background-color: #fff;
            color: #611f69;
            display: inline-grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            grid-gap: 30px 30px;
            margin: .5rem;
            

            &:nth-child(2) {
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .body {
        margin-bottom: 3rem;
        &-heading {
            text-align: left;
            padding: 1rem 2% 1rem;

    
            h1 {
                font-size: 2.125rem;
                width: 100%;

            }
     
            p {
                font-size: 1.1rem;
            }
        }

        .customer {
            padding: 0 2% 4rem;
            margin: 2rem 0  0;
            flex-direction: column;
            
            h2 {
                font-size: 1.3rem;
                width: 100%;
            }
    
            h4 {
                font-weight: 700;
                padding-bottom: .5rem;
                font-size: 1.1rem;
            }
    
            p {
                font-weight: 400;
                font-size: 1.1rem; 
                padding-bottom: 2rem;
            }

            img {
                width: 100%;
            }
        }


        .flex-brands {
            padding: 0 2%;
            justify-content: flex-start;


            img {
                width: auto;
                height: 2.1rem;
                margin: 1rem 0;
                padding: 0 2%;
            }
        }

        .better-work {
            text-align: center;
            padding: 5rem 2%;
            margin: 4rem 0 0;
            
            h1 {
                font-weight: 600;
                font-size: 2.2rem;
                padding: 0 0 2rem;
            }
    
            button {
                margin: 0 .5rem 1rem 0;
                width: 100%;
            }
        }
    }
}

