.header {
    // color: teal;
    padding: 5rem 10% 0;
    color: #1d1d1d;
    background-color: #f6f0e8;
    margin-bottom: 14rem;

    &--flex {
        display: grid;
        grid-column-gap: 5%;
        grid-template-columns: 35% 60%;
        align-items: center;
    }

    .welcome {
        h1 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.0625;
            letter-spacing: -1.5px;
            margin-bottom: 1rem;
            max-width: 7em;
        }

        p {
            max-width: 27rem;
            font-weight: 400;
            line-height: 1.333;
            letter-spacing: -.2px;
            margin: 0 0 1rem;
            font-size: 1.25rem;
        }

        button {
            appearance: none;
            background-color: #611f69;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            font-weight: 700;
            line-height: 1.28571429;
            letter-spacing: .8px;
            font-size: .875rem;
            text-transform: uppercase;
            text-decoration: none;
            padding: 19px 40px 20px;
            display: block;
        }
    }

    &--flex-2 {
        grid-column-gap: 6%;
        grid-template-columns: 57% 37%;
        position: relative;
        padding: 5rem 0;

        .welcome {
            button {
                color: #611f69;
                background-color: transparent;
                border: 2px solid #611f69;
            } 
        }
        
    }

    .video {
        video {
            width: 100%;
            // pointer-events: none;
        }

        &-2 {
            video {
                position: absolute;
                width: 55%;
                bottom: -5rem;
            }
        }
    }
    
}