.Navbar {
    background: rgb(177, 170, 170);
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;

    img {
        width: 125px
    }

    li {
        padding: 0 1rem;
    }

    .contact {
        padding: 0 0 0 8rem;
    }

}