.Navbar {
    background: rgb(209, 208, 208);
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    color: #1d1d1d;
    white-space: nowrap;

    img {
        width: 125px;
        margin: 0 2rem 0 0;
    }

    li {
        padding: 0 1rem;
        cursor: pointer;
    }

    .contact {
        padding: 0 0 0 8rem;

        button {
            background-color: #611f69;
            padding: .75rem 1rem;
            color: #fff;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            font-weight: 700;
            line-height: 1.28571429;
            letter-spacing: .8px;
            padding: 10px 30px;
            font-size: 1rem;
        }
    }

   

}