.footer {
    .flex-svg {
        padding: 2rem 10%;
        flex-wrap: wrap;
        background-color: #ffffff;
    }

    .svg {
        margin-right: 7rem;
    }

    .links {
        flex: 0 0 70%;
        margin-left: auto;
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-columns: auto;
        grid-gap: 10px;

        h6 {
            color: #454545;
            font-weight: 700;
            line-height: 1.28571429;
            letter-spacing: normal;
            font-size: .875rem;
        }

        li {
            color: #696969;
            padding: .55rem 0;
            font-weight: 400;
            line-height: 1.28571429;
            letter-spacing: normal;
            font-size: .875rem;
        }
    }

    .flex-status {
        background-color: #f5f5f5;
        // background-color: #aca9a9;
        text-align: center;
        padding: 2rem 10%;
        margin: 0 auto;
        justify-content: space-between;

        .status {
            align-items: center;
            
            p {
                font-weight: 700;
                line-height: 1.28571429;
                letter-spacing: normal;
                color: #454545;
                cursor: pointer;
                font-size: .875rem;
                padding: 0 .5rem;
                white-space: nowrap;
                display: inline;

                &:hover {
                    text-decoration: none;
                    color: #1264a3;
                }
            }

            .icon {
                justify-content: center;
                padding-left: .4rem;

                .arrow {
                    margin: .1rem 0 0;
                }
                &:hover {
                    color: #1264a3;
                }
                p {
                    padding: 0 .3rem;
                    &:hover {
                        color: #1264a3;
                    }
                }
            }

           
        }
    }

    .social-links {
        .icons {
            margin: 0 1.5rem 0 0;
            font-size: 1.4rem;
            color: #454545;
            cursor: pointer;
            transition: all .2s ease-in;

            &:hover {
                color: #1264a3;
            }
        }
     
    }

    .copyright {
        padding: 1rem 10.4%;
        font-weight: 400;
        line-height: 1.28571429;
        letter-spacing: normal;
        font-size: .75rem;
        color: #454545;
        background-color: #ebeaeb;

        .span--1 {
            color: red;
        }
    }

}

@media only screen and (max-width: 900px) {
    .footer {
        .flex-svg {
            padding: 0rem 5%;
            flex-direction: column;
        }

        .links {
            flex: 0;
            margin: 4rem 0;
        }
    } 
}

@media only screen and (max-width: 768px) {

    .footer {
        .flex-svg {
            flex-wrap: wrap;
            background-color: #ffffff;
        }
    
        .svg {
            margin-right: 7rem;
        }

        .links {
            grid-template-columns: 50% 40%;
            grid-auto-columns: auto;
            grid-gap: 10px;
            margin: 4rem 0 0;
        }

        .flex-status {
            background-color: #f5f5f5;
            text-align: center;
            padding: 2rem 2%;
            margin: 0 auto;
            justify-content: space-between;
            flex-direction: column;
    
            .status {
                align-items: center;
                flex-direction: column;
    
             
                p {
                    font-size: .875rem;
                    display: inline-block;
                    padding: 0 .5rem 2rem;
                }
    
                .icon {
                    justify-content: center;
                    padding: 0 .4rem 2rem;
                }
    
               
            }
        }
        
        
        .copyright {
            padding: 1rem 4%;
            text-align: center;
        }
        
    }

    

}